<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<br/>
<b>
    日記管理システム　トップページ
</b>
<div align="right">
    <a href="/password/change" th:href="@{/password/change}">パスワード変更</a>
    <a href="/logout" th:href="@{/logout}">ログアウト</a>
</div>
<div>
    <a href="/diary/create" th:href="@{/diary/create}">日記を書く</a>
</div>
<div>
    <br/>
    新着一覧<br/>
    <div style="color:#F00" th:if="${#lists.isEmpty(public_diaries)}">
       表示する日記がありません
    </div>
    <table th:unless="${#lists.isEmpty(public_diaries)}">
        <tr align="left">
            <th width="500">
                タイトル
            </th>
            <th width="300">
                作成日
            </th>
            <th width="300">
                作成ユーザID
            </th>
        </tr>
        <tr th:each="public_diary : ${public_diaries}">
            <td>
                <a href="/diary/view" th:href="@{/diary/view/{id}(id=${public_diary.id})}" th:text="${public_diary.title}"></a>
            </td>
            <td th:text="${#dates.format(public_diary.createdAt,'yyyy/MM/dd')}"></td>
            <td th:text="${public_diary.userId}"></td>
        </tr>
    </table>
</div>
<br/>
<br/>
<div>
    <div><span th:text="${userId}"></span>さんの日記</div>
    <table>
        <tr align="left">
            <th width="500">
                タイトル
            </th>
            <th width="300">
                作成日
            </th>
        </tr>
        <tr th:each="user_diary : ${user_diaries}">
            <td>
                <a href="/diary/view" th:href="@{/diary/view/{id}(id=${user_diary.id})}" th:text="${user_diary.title}"></a>
            </td>
            <td th:text="${#dates.format(user_diary.createdAt,'yyyy/MM/dd')}"></td>
        </tr>
    </table>
</div>
</body>
</html>