<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<br/>
<b>
    日記管理システム　トップページ
</b>
<div align="right">
    <input type="button" name="change_pass" id="change_pass" value="パスワード変更" onclick=""/>
    <input type="button" name="logout" id="logout" value="ログアウト" onclick=""/>
</div>
<br/>
<div align="center">
    新着一覧<br/>
    <table>
        <tr>
            <th width="500">
                タイトル
            </th>
            <th width="300">
                作成日
            </th>
            <th width="300">
                作成ユーザID
            </th>
        </tr>
        <tr th:each="public_diary : ${public_diaries}">
            <td th:text="${public_diary.title}"></td>
            <td th:text="${public_diary.createdAt}"></td>
            <td th:text="${public_diary.userId}"></td>
        </tr>
    </table>
</div>
<br/>
<br/>
<div align="center">
   さんの日記<br/>
    <table>
        <tr>
            <th width="500">
                タイトル
            </th>
            <th width="300">
                作成日
            </th>
        </tr>
        <tr th:each="user_diary : ${user_diaries}">
            <td th:text="${user_diary.title}"></td>
            <td th:text="${user_diary.createdAt}"></td>
        </tr>
    </table>
</div>
</body>
</html>