<!doctype html>
<html xmlns:th="">
<head lang="en">
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
<br/>
<b>
日記管理システム　ログイン
</b>
<br/>
<div style="color:#F00" th:if="${param.error}">
    ログインに失敗しました！
</div>
<br/>
<form th:action="@{/login}" method="post">
<table>
    <tr>
        <td>
            ユーザID
        </td>
        <td>
           ：<input type="text" id="username" name="username"/>
        </td>
    </tr>
    <tr>
        <td>
            パスワード
        </td>
        <td>
            ：<input type="password" id="password" name="password"/>
        </td>
    </tr>
</table>
<input type="submit" value="ログイン"/>
</form>
<br/>
<a href="">会員登録がお済みでない方はこちらから</a>
</body>
</html>