<!doctype html>
<html>
<head lang="en">
    <meta charset="utf-8"/>
    <title></title>
</head>
<body>
<br/>
<b>
日記管理システム　ログイン
</b>
<br/>
<br/>
<form action="" method="post">
<table>
    <tr>
        <td>
            ユーザID
        </td>
        <td>
           ：<input type="text"/>
        </td>
    </tr>
    <tr>
        <td>
            パスワード
        </td>
        <td>
            ：<input type="password"/>
        </td>
    </tr>
</table>
<input type="submit" value="ログイン"/>
</form>
<br/>
<a href="">会員登録がお済みでない方はこちらから</a>
</body>
</html>