<!DOCTYPE html>
<html xmlns:th="">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<br/>
<b>
    日記管理システム　パスワード変更
</b>
<br/>
<br/>
<form th:action="@{/password/do_change}" th:object="${passwordChangeForm}" method="post">
    <table>
        <tr>
            <td>
                現在のパスワード
            </td>
            <td>
                ：<input type="password" th:field="*{currentPass}" />
            </td>
        </tr>
        <tr>
            <td>
               新しいパスワード
            </td>
            <td>
                ：<input type="password" th:field="*{newPass}" />
            </td>
        </tr>
        <tr>
            <td>
                新しいパスワード（再入力）
            </td>
            <td>
                ：<input type="password" th:field="*{newPass2}" />
            </td>
        </tr>
    </table>
    <input type="submit" value="変更"/>
</form>
</body>
</html>